* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
  transition: background 0.3s, color 0.3s;
}

h1,
h2,
h3,
p,
span,
button,
a {
  color: inherit;
}